* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height:100%;
}

body {
	
	margin: 0;
	background: linear-gradient(#5151ff, #7878ff) no-repeat;
	color: white;
	font-family: 'Quicksand', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* .overview {
	margin-top: calc(1rem + 1vw);
} */

.overview .condition {
	
	margin: auto;
	width: fit-content;
	position: relative;
	display: flex;
	align-items: center;
	font-size: calc(1.25rem + 0.25vw);
}

.overview .condition img {

	position: absolute;
	left: 0;
}

.overview .condition span {
	padding: 0 2.4em;
}

.overview .temps {

	margin: auto;
	width: fit-content;
	display: flex;
	align-items: center;
}