* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:active {
	color: white;
}

html, body {

	width: 100%;
	min-height:100vh;
	overflow-x: hidden;
}

body {
	
	margin: 0;
    position: relative;
	background: #141414;
	color: white;
	font-family: 'Quicksand', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header {

	background-color: transparent;
	transition: background-color 0.25s !important;
}

.condition {
	
	margin: 0 auto;
	width: fit-content;
	position: relative;
	display: flex;
	align-items: center;
	font-size: 1.25em;
}

.condition img {

	width: 2em;
	position: absolute;
	left: 0;
}

.condition div {
	padding: 0 2em;
}

.details {

	margin: 0.5em 0 !important;
	padding: 0 8px 10px;
	background: #fff2;
	border-radius: 0.725rem;
	text-align: center;
}

.preview {
	margin: 1rem 0;
}

.loader-content {

	position: fixed;
	bottom: 40px;
	left: 50%;
	display: flex;
	align-items: center;
	padding: 5px 10px;
	border-radius:24rem;
}

/* BG Animations */
#bg {
	
	/* background-image: linear-gradient(#0055ff, #0099ff);
	background-image: linear-gradient(#000768, #460075, #55008d, #5f009e);
	background-image: linear-gradient(#272727, #3a3a3a, #4d4d4d); */
	position: absolute;
	height: 100%;
	width: 100%;
	transition: opacity 0.5s;
	z-index: -1;
	overflow: hidden;
}

/* Day Animations */
.dayAnim, .nightAnim {

	position: absolute;
	width: 100%;
}

.dayAnim {

	height: 40vw;
	max-height: 250px;
	display: flex;
	align-items: center;
}

.dayAnim img {

	position: relative;
	width: 90vw;
	top: -15vw;
}

/* Night Animations */
.nightAnim {
	height: 100%;
}

.star, .star-body, .shooting-star-box  {
	position: absolute;
}

.star-body {

	opacity: 0.75;
	top: 50%;
	left: 50%;
	width: 60%;
	height: 60%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background: #fff;filter: drop-shadow(0 0 1px #5f94ff)
	drop-shadow(0 0 1px #4b87ff);
}

.shooting-star-box {
	bottom: 100%;
}

.shooting-star {

	width: 2px;
	height: 100px;
	background: linear-gradient(45deg, #92b5ff, #5389ff, #0000ff00);
	border-radius: 24px;
	filter: drop-shadow(0 0 6px #699bff);
}

@media only screen and (max-width: 600px) {
	
	.overview .temps {

		max-width: 320px;
		justify-content: space-evenly;
	}
	.dayAnim img {

		width: 95vw;
		top: -18vw;
	}
}