* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:active {
	color: white;
}

html, body {

	min-height:100vh;
	overflow-x: hidden;
}

body {
	
	margin: 0;
	background: linear-gradient(#0055ff, #0099ff);
	color: white;
	font-family: 'Quicksand', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.condition {
	
	margin: 0 auto;
	width: fit-content;
	position: relative;
	display: flex;
	align-items: center;
	font-size: 1.25em;
}

.condition img {

	width: 2em;
	position: absolute;
	left: 0;
}

.condition div {
	padding: 0 2em;
}

.details {

	margin: 0.5em 0 !important;
	padding: 0 8px 10px;
	background: #fff2;
	border-radius: 0.725rem;
	text-align: center;
}

.preview {
	margin: 1rem 0;
}

.loader-content {

	position: fixed;
	bottom: 40px;
	left: 50%;
	display: flex;
	align-items: center;
	padding: 5px 10px;
	border-radius:24rem;
}

@media only screen and (max-width: 600px) {
	
	.overview .temps {

		max-width: 320px;
		justify-content: space-evenly;
	}
}